{% extends 'index.html' %}

{% block content %}

<div class="admin-card">
  <form method="POST" id="user_form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username(placeholder="Username", class="form-control") }}
      {% for error in form.username.errors %}
      <span class="text-danger">{{error}}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.password(placeholder="Password", class="form-control") }}
      {% for error in form.password.errors %}
      <span class="text-danger">{{error}}</span>
      {% endfor %}
    </div>
    <div class="button-container">
      <button class="btn btn-primary">Log in</button>
    </div>

  </form>
</div>

{% endblock %}