{% extends 'index.html' %}

{% block content %}

<div class="work-experience">
    <div class="quote">
        <i>"it's not <b>what</b> you know, but <b>who</b> you know"</i>
    </div>
    <nav class="center-navbar">
        <div class="socials">
            <a href="https://www.linkedin.com/in/spencerbergamo/" target="_blank">
                <img src="/static/images/icons/linkedin-in.svg" width="30" height="30">
            </a>
            <a href="https://github.com/SpencerBergamo" target="_blank">
                <img src="/static/images/icons/github.svg" width="30" height="30">
            </a>
            <a href="https://twitter.com/BergamoSpencer" target="_blank">
                <img src="/static/images/icons/x-twitter.svg" width="30" height="30">
            </a>
            <!-- <a>
                <img src="/static/images/icons/instagram.svg" width="30" height="30">
            </a> -->
            <a href="https://www.facebook.com/spencer.bergamo.58/" target="_blank">
                <img src="/static/images/icons/facebook.svg" width="30" height="30">
            </a>




        </div>
        <div class="message-me">
            <button class="btn" id="email-btn">Questions?</button>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card">
        <div class="work-container">
            <div class="header">
                <img src="/static/images/icons/NLL.png" widh="150" height="150">
            </div>
            <div class="body">
                <h6 style="font-size:x-large">New Life Leadership</h6>
                <p style="font-size:medium">WordPress Developer - Freelance</p>
                <p>I provided web development and SEO services to New Life Leadership, a coaching business in
                    Lubbock, TX. I worked with the company to finalize the details of their website, including
                    adding logos of companies they worked with, coach detail information, and a contact form, and
                    SEO integration. As a result of my work, all of the links on their website are functional,
                    their site is user-friendly, and easy to navigate between their New Life Leadership webpage
                    and their Irrefutable Success University webpage.
                </p>
                <a href="/homepage">newlifeleadership.org</a>

            </div>
        </div>

    </div>

    <div class="card">
        <div class="work-container">
            <div class="header">
                <img src="/static/images/icons/TD_logo.png" widh="150" height="150">
            </div>
            <div class="body">
                <h6 style="font-size:x-large">Lubbock Detailers</h6>
                <p style="font-size:medium">WordPress Developer - Freelance</p>
                <p>I worked as a web developer for Lubbock Detailers, where I used WordPress to construct their
                    website and AI to create all of the media on the site. I was responsible for designing
                    the website, developing the content, optimizing it for SEO, domain and hosting setup,
                    designing matching business cards, creating a logo, and a company email setup with their site.
                    Their site inluded features such as a contact form, a gallery, and a scheduling service that
                    automatically synced with the availability of their detailers.
                </p>
                <a href="/homepage">View Website</a>

            </div>
        </div>

    </div>

    <div class="card">
        <div class="work-container">
            <div class="header">
                <img src="/static/images/icons/chickfila.png" widh="150" height="150">
            </div>
            <div class="body">
                <h6 style="font-size:x-large">Kitchen Director</h6>
                <p style="font-size:medium">(2019 - 2023)</p>
                <p>As the Kitchen Director at Chick-fil-A, I managed a team of kitchen staff members and
                    ensured that all food was prepared to Chick-fil-A's high standards. I also created
                    and maintained a positive and productive work environment, which resulted in reduced
                    staff turnover. Additionally, I implemented new procedures that helped us meet our
                    food cost goals and improve the quality of our food.</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}